body {
    background-image:url("hatter.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
h1 
{
    color:black;
    font-family: Arial;
    font-size: 40px;
    text-align: center;
}
h2
{
    color:black;
    font-family: Arial;
    font-size: 36px;
    text-align: center;
}
p
{
    font-family: "Times New Roman";
    font-weight: bold;
    color: black;
    font-size: 20px
}
ul 
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(49, 44, 46, 0.8);
}
li  
{
    float: left;  
    
}
li a 
{
    display: block;
    color: black;
    text-align: center;
    padding: 15px 15px;
}
li a:hover 
{
    background-color: #111;
}
div
{
    background-color: rgba(49, 44, 46, 0.5);
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 4%;
}
.img
{
    background-color: rgba(49, 44, 46, 0.6);
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
img
{
    border-radius: 50%;
}
footer
{
    background-color: rgba(4, 2, 1, 0.8);
    text-align: center; 
    margin-left: 45%;
    margin-right: 45%;
    border-radius: 50%;
}